---
layout: default
---

<div class="posts">
  {% for page in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ page.title }}</a></h1>
        {% include tag.html page=page %}

      <div class="entry">
        {{ page.excerpt }} ...
      </div>

      <a href="{{ site.baseurl }}{{ page.url }}" class="read-more">Continue Reading</a>
    </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Newer Posts</a>
  {% else %}
    <span class="previous"></span>
  {% endif %}

  <span class="page_number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Older Posts</a>
  {% else %}
    <span class="next "></span>
  {% endif %}
</div>
